* {
    margin: 0;
    padding: 0;
}
.padre{
    margin: 10px;
    padding-top: 10px;
    padding-left: 70px;
    padding-right: 100px;
    align-items: center;
}

.flex-container, .body-flex, .temperature, .cookies{
    display: flex;
    margin: 5px;
    padding: 5px;
}

.flex-nav{
    display: flex;
    background-color:skyblue;
    color: #fff;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    padding: 5px;
    margin: 5px;
}
.Header{
    display: flex;
    border-bottom: 2px solid black;
    padding: 5px;
    margin: 5px;
    justify-content: space-around;
    align-items: center;
}
.column{
    align-items: center;
    background-color: bisque;
    padding: 5px;
    margin: 10px;
}
.temperature{
    justify-content: space-around;
}
h4{
    color: red;
}
h5{
    color: blue;
}
.cookies{
    background-color: #fff;
    align-items: center;
    border: 2px solid black;
    margin-top: 10px;
    position: fixed;
    width: 72%;
    padding-left: 200px;
}
.acept {
    height: 30px;
    width: 100px;
    color:black;
    background-color: #17a2b8;
    border: 1px solid black;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 4px 4px black;
}
.flex-container{
    align-items: center;
}
.btn{
    color: #fff;
    border: none;
    background-color: skyblue;
    padding: 30px;
    font-size: large;
}
h3{
    margin-left: 80px;
}
.img-cookie, .texto, .acept{
    padding: 10px;
    margin: 10px;
}
.img{
    border-radius: 50%;
    width: auto;
}

